USE [master];
GO
CREATE DATABASE [ATM];
GO
USE [ATM];
GO

-- Customers table
CREATE TABLE [dbo].[Customers](
    [CustomerID] NVARCHAR(5) NOT NULL,
    [Name] NVARCHAR(50) NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED (CustomerID ASC)
);
GO

-- Accounts table with Discriminator for EF Core TPH
CREATE TABLE [dbo].[Accounts](
    [AccountNumber] NVARCHAR(6) NOT NULL,
    [Type] NVARCHAR(1) NULL,
    [CustomerID] NVARCHAR(5) NULL,
    [Balance] DECIMAL(15, 2) NULL,
    [Discriminator] NVARCHAR(50) NOT NULL DEFAULT 'Account',  -- EF Core TPH
    CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED (AccountNumber ASC),
    CONSTRAINT [FK_Accounts_Customers] FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
GO

-- Insert Customers
INSERT INTO Customers (CustomerID, Name) VALUES
('C001', 'Jerry Cann'),
('C002', 'Eric Clapton'),
('D001', 'Korben Dallas'),
('J001', 'Elton John'),
('S001', 'Carlos Santana');
GO

-- Insert Accounts with Discriminator
INSERT INTO Accounts (AccountNumber, Type, CustomerID, Balance, Discriminator) VALUES
('10001','C','D001',457.98,'CheckingAccount'),
('10005','C','J001',7210.00,'CheckingAccount'),
('10011','C','S001',10657.84,'CheckingAccount'),
('10021','C','C001',1027.63,'CheckingAccount'),
('10031','C','C002',4.10,'CheckingAccount'),
('20001','S','C002',54.45,'SavingsAccount'),
('20008','S','J001',35.00,'SavingsAccount'),
('20030','S','D001',21.53,'SavingsAccount'),
('20034','S','S001',1083.00,'SavingsAccount'),
('20101','S','C001',790.00,'SavingsAccount');
GO